h1{
  font-size:0px;
  margin:0;
}
.cc2wepgl{
    display: inline-block;
    font-size: 30px;
    margin: 24px 0px 14px 42px;
    border-left: 8px solid #23f54a;
    padding: 6px 15px
  }
.cc3{
      height: 400px;
      background-color: #757575;}
.cc4{
  display: inline-block;
  width: 180px;
  height: 255px;
  background-color: #000;
  border-radius:10px;
  margin:52px 0px 0px 34px;
}
.cc5{margin: 52px 0 0 0 !important;
}
.cc6{display: inline-block; width: 84px;height: 35px;background-color: #27b24a;font-size: 20px;color: #ffffff;line-height: 35px;text-align: center;
}
.cc8{background: #d0021b;margin-left: 44px!important;
}
#qq1启{height: 86px;
      border-width:0px 0px 2px 0px;
      border-style:solid;
      border-color: #d5d5d5;
}
#qq2启{font-size: 30px;
      font-family: 'pingfangsc';
      color: #000;
      text-align:center;
      line-height: 86px;
}
#qq3canvas{display: inline-block;
    font-size: 30px;
    margin: 24px 0px 14px 42px;
    border-left: 8px solid #23f54a;
    padding: 6px 15px
}
#qq4视频{height: 400px;
      background-color: #fafafa;
      margin-bottom: 54px;
}
#qq5newteo{height: 222px;
      border: 1px solid #d5d5d5;
      text-align: center;
      line-height: 222px;
      font-size: 20px;
      font-weight: 500px;
      color: #4a4a4a;
}
#cla12{display: inline-block;width: 90px;height: 33px;background-color: #d8d8d8;color: #ffffff;}



